.main {
  width: 100%;
  padding-left: 10rem;
  padding-right: 3.5rem;
  transition: all 0.5s;
  will-change: transform, padding;

  &--opened {
    padding-left: 33.5rem;
  }
}

@media screen and (max-width: 650px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
