.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30rem;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 999;
  transform: translateX(-20rem);
  transition: transform 0.5s;
  box-shadow: $box-shadow-1;

  &--opened {
    transform: translateX(0rem);
  }

  &__toggle {
    float: right;
    display: flex;
    align-self: flex-end;
    transform: translateX(1.5rem);

    &__button {
      height: 3rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-content: center;
      border-radius: 50%;
      background-color: $color-white;
      color: $color-primary;
      border: none;
      box-shadow: 0 1px 3px $color-grey-light-3;
      outline: none;
      cursor: pointer;

      &:hover {
        color: $color-white;
        background-color: $color-primary;
      }
    }
  }

  &__logo {
    background-image: $menu-logo;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 5rem;
    margin: 1.5rem auto;
    width: 70%;
  }

  &__navigation {
    margin-top: 20vh;

    & ul {
      list-style: none;
    }

    & a {
      display: block;
      margin: 0.5rem;
      font-size: $default-font-size;
      padding: 2rem;
      text-decoration: none;
      background-color: transparent;
      border: none;
      color: $color-grey-light-3;
      outline: none;
      text-align: left;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }
    }
  }
}
