.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-image: $background-login;
  background-size: cover;

  &__container {
    height: 100vh;
    opacity: 0.75;
    margin-right: 10vw;
    background-color: $color-white;
    width: 25vw;
    box-shadow: $box-shadow-1;
    border-radius: 2px;
  }
}

@media screen and (max-width: 600px) {
  .login {
  }
}
