//Colors Padrão
// $color-primary: #701f38;
// $color-primary-light: #ffe1ea;
// $color-primary-dark: #4b1223;
// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #e4e4e4;
// $color-grey-dark: #1f232c;
// $color-grey-dark-2: #434c63;
// $color-white: #fff;
// $color-black: #000;
// $color-menu: #701f38;
// $theme-filter: grayscale(0%);

//Colors Customizado
$color-primary: #0582ca;
$color-primary-light: #d2f0ff;
$color-primary-dark: #0a2463;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #1f232c;
$color-grey-dark-2: #434c63;
$color-white: #fff;
$color-black: #000;
$color-menu: #0582ca;
$theme-filter: grayscale(100%);

//Font
$default-font-size: 1.6rem;

//Content Padding
$content-padding: 0rem;

//Shadow
$box-shadow-1: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

//Assets
$menu-logo: url(../../assets/logo2.png);
